<%= partial :tags %>

<%= partial :pagination %>

<% @posts.each { |post| -%>
<div id="post-<%= post.id %>" class="post <%= post.type %>">
	<h2>
		<a href="<%= post.user.url %>"><%= post.user.name %></a>
		<span class="type">&bull; <a href="<%= url(:show_by, :user => 'everyone', :type => post.type.to_s+"s") %>"><%= (post.type.to_s == 'regular' ? 'text' : post.type) %></a></span> 
		<span class="date">&bull; <%= time_ago_in_words(post.created_at) %> ago</span>
		<!--<span class="flag"><a href="#" class="tag more">tag</a></span>-->
	</h2>	
	<p class="content">
	<% if post.type == 'photo' -%>
		<a href="<%= post.url || '#FIXME' %>"><%= post.content %></a>
	<% else -%>
		<%= post.content %>
	<% end -%>
	</p>	
</div>
<% } -%>

<%= partial :pagination %>
