<!--<h2>Posts tagged <%= @tags.length %></h2>-->

<ul>
<% @tags.group_by { |tag| tag.tag }.sort_by { |tag, tags| tags.collect { |t| t.post.user }.uniq.length }.reverse.each { |tag, tags| -%>
	<%
	peeps = tags.collect { |t| 
		user = t.post.user
		user.link
	}.uniq
	-%>
	<li>
		<h3 style="font-size: 14pt; margin-top: 20px;"><%= peeps.length %> <%= tag.gsub('-',' ').pluralize %></h3>
		<ul><% tags.uniq.each { |tag| -%>
			<li><a href="<%= tag.post.url %>"><%= tag.post.user.name %></a> <span class="date"><%= time_ago_in_words(tag.post.created_at) %> ago</span></li>
		<% } -%></ul>
	</li>
<% } -%>
</ul>
